<nav style="margin: auto" class="navbar navbar-expand-lg bg-dark">
  <a class="navbar-brand" href="home">
    <img
      src="assets/kalpa.png"
      alt="Kalpavriksha Logo"
      style="width: 50px; height: auto; text-color: white"
    />
    <span style="color: #00c6a9">Kalpavriksha</span>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a
          style="color: white"
          class="nav-link active"
          aria-current="page"
          href="javascript:void(0);"
          routerLink="/home"
          >Home</a
        >
      </li>
    </ul>
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="wrapper-container">
  <div class="login-container">
    <h1>Login</h1>
    <form id="loginForm">
      <div class="input-group">
        <label for="username">Username</label>
        <input
          type="text"
          name="username"
          [(ngModel)]="username"
          placeholder="User name"
          required
        />
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input
          type="password"
          [(ngModel)]="password"
          id="password"
          name="password"
          required
        />
      </div>
      <button (click)="checkLogin()" type="submit">Login</button>
    </form>
  </div>
</div>
